.about-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    &__portrait {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    
    &__content {
        grid-column: span 2/4;
        margin-right: 3rem;
        p{
            font-size: 1.2rem;      
        }
    }
}